<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153107687359-pqiacs7q0cegavqvebh0kofgb0d94smc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153107687359-pqiacs7q0cegavqvebh0kofgb0d94smc</string>
	<key>API_KEY</key>
	<string>AIzaSyBvu6UMMBZzb1hFEbmhf2rsWGpLlR05EDM</string>
	<key>GCM_SENDER_ID</key>
	<string>153107687359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apps.eaduan</string>
	<key>PROJECT_ID</key>
	<string>e-aduan-4caad</string>
	<key>STORAGE_BUCKET</key>
	<string>e-aduan-4caad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153107687359:ios:f1ed5d5de6a8f6960c630a</string>
</dict>
</plist>